<p id="notice"><%= notice %></p>

<p>
  <h2>
  	<%= @user.username %>'s Recent Check-ins
  </h2>
  <ul>
  	<li>Place 1</li>
  	<li>Place 2</li>
	</ul>
</p>

<%= link_to 'View All Users', users_path %>
