<!DOCTYPE html>
<html>
<head>
  <title>Foursquare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h2>O Brother, Square Art Thou?</h2>
	<h5>Welcome! Sign in with <%= link_to "Foursquare account", "/auth/foursquare" %> to get started</h5>
	<button>Get Started!</button>
</body>
</html>